.git
.github
.cursor
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.venv
**/.venv
*.log
.DS_Store
tmp
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache
**/.ruff_cache
